.banner {
    background: url(../img/UTS-Accommodation-Wattle-Lane.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 240px;
    text-align: center;
    padding: 5em 0 0;
    color: white;
}

.right {
    float: right;
    margin-right: 20px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}