/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / .main-header
2.1 Top-header/ .top-header
2.2 Navigation/ .main-nav
3. Slider/ .slider-box
4. Main/ #main-content
4.1 Contact Us/ #caption-contact
4.2 Information Contact/ .contact-connect
4.3 Form Contact / .form-contact
5. Footer
5.1 Footer Top/ #prefoote
5.2 Footer Bottom/ #footer
-------------------------------------------------------------------*/
/*************SLIDE BOX************/
#Google-Map{
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50% / 0 0 25% 25%;
  -o-border-radius:0 0 50% 50% / 0 0 25% 25%;
  -webkit-border-radius: 0 0 50% 50% / 0 0 25% 25%;
  -moz-border-radius: 0 0 50% 50% / 0 0 25% 25%; 
  position: relative;
  overflow: hidden;
  border:10px solid #fff;
}
#Google-Map iframe{
  margin: 0 auto;
  border-radius: 0 0 50% 50% / 0 0 25% 25%;
  -o-border-radius:0 0 50% 50% / 0 0 25% 25%;
  -webkit-border-radius: 0 0 50% 50% / 0 0 25% 25%;
  -moz-border-radius: 0 0 50% 50% / 0 0 25% 25%; 
  height: 470px;
  width: 100%;
}
#mapgg{
  background: rgba(8, 83, 141, 0.4) none repeat scroll 0 0;
  border: 10px #fff;
  overflow: hidden;
  border-radius: 0 0 50% 50% / 0 0 25% 25%;
  -o-border-radius:0 0 50% 50% / 0 0 25% 25%;
  -webkit-border-radius: 0 0 50% 50% / 0 0 25% 25%;
  -moz-border-radius: 0 0 50% 50% / 0 0 25% 25%; 
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

}
/*MAIN CONTENT*/
.container{
  color: #0f3556;
}

#main-content{
  margin-top: 90px;
}
.caption-contact{
  text-align: center;
}
.caption-contact h2{
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 36.15px;
  text-transform: uppercase;
  padding-bottom: 45px;
}
.caption-contact img{
  padding-bottom: 40px;
}
.contact-infor{
  font-family: "Playfair Display";
  font-weight:700;
  font-size: 18px;
}
.hr-contact{
  width: 30px;
  border: 1px solid #8a9bad;
  margin-left: 0\9;
  text-align: left;
  margin-top: 22px;
  height: 0px;
  margin-left:0px;
}
.detail-infor{
  font-family: "Lato";
  font-size: 14px;
  line-height: 2;
}
.details-2{
  line-height: 1.5;
}
.icon-connect{
  text-align: center;
  display: inline-block;
  margin-top: 15px;
}
.icon-connect ul{
  display: block;
}
.icon-connect ul li {
  float: left;
  height: 35px;
  line-height: 35px;
  padding-right: 22px;
  position: relative;
  width: 35px;
}
.icon-connect ul li a{
  color:#0f3556;
}
.icon-connect li:hover {
  background: transparent none repeat scroll 0 0;
  border-color: #ad9b49;
  color: #ad9b49;
}
.icon-connect li:hover i{
  color:#ad9b49;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
.icon-connect li:last-child{
  padding-right: 0;
}
.form-email{
  padding-left: 0;
  padding-top: 20px;
  position: relative;
}
#e-mail{
  cursor: auto;
  font-family: "Lato";
  font-style: italic;
  background: #fbfbfb;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  line-height: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 20px;
}

#e-mail::-webkit-input-placeholder {
  color: #8a9bad;
}
#e-mail:-moz-placeholder { /* Firefox 18- */
  color: #8a9bad; 
}
#e-mail::-moz-placeholder {  /* Firefox 19+ */
  color: #8a9bad;
}
#e-mail:-ms-input-placeholder {  
  color: #8a9bad;
}

.btn-email{
  position: absolute;
  top: 30px;
  right: 20px;
}

.icon-envelope{
  border: none;
  background: transparent;
  color: #8a9bad;
}
/*form-contact*/
.form-contact{
  margin-top: 75px;
}
.form-contact img{
  padding-bottom: 45px;
}


#name, #email, #subject{
  cursor: auto;
  font-style: italic;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 6px;
  background: #e0f7fe;
  font-size: 14px;
  margin-bottom: 17px;
  padding-left: 20px;
}

#comment{
  cursor: auto;
  background: #e0f7fe;
  height: 130px;
  padding-left: 20px;
  margin-top: 7px;
  font-style: italic;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.1);

}
.title-comment{
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
}
#form-name, #form-message, #btn-send {
  background: #d4f5ff;
}

#form-name{
  padding: 47px 55px 0px 55px;
}
#form-message{
  padding: 0 70px;
}
.form-group{
  margin-bottom: 0;
}
#btn-send{
  margin-bottom: 100px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 50px;
}
#btn-send a{
  font-family: "Lato";
  font-weight: 700;
  text-decoration: none;
}
#btn-send a:hover{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  color: #f3f3f3;
}
.btn-send{
  color: #0f3556;
  font-size: 14px;
  padding: 12px 33px;
  border-radius: 24px;
  display: inline-block;
  vertical-align: middle;
  background: #f4d025;
  /*opacity: 0.8;*/
}
.btn-send:hover{
  opacity: 1;
}
.side-panel-wrap ul li a{
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
}
.side-panel-wrap ul li a:hover{
  text-decoration: none !important;
}
/*----------------------RESPONSIVE------------------------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
  .contact-connect{
    margin-top: 50px;
  }
  #main-content{
    margin-top: 50px;
  }
  #Google-Map iframe{
    height: auto;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #Google-Map iframe{
    height: 400px;
    margin-left: -8px;
  }
}
#Google-Map {
  border-radius: 0 0 50% 50% / 0 0 28% 28%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .your-name{
    padding-top: 50px;
  }
  #form-message{
    padding: 0 15px;
  }
  #form-name{
    padding: 0;
  }
}
